@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img, ion-icon {
    display: block;
}

html {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

body {
    min-height: 100vh;
    background: var(--Light-Grayish-Blue);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.article-card {
    display: grid;
    grid-template-columns: 285px minmax(300px, 445px);
    max-width: 730px;
    border-radius: 1rem;
    box-shadow: 6px 6px 5px hsla(0, 0, 0, 0.02),
                25px 25px 20px hsla(0, 0, 0, 0.04),
                90px 90px 76px hsla(0, 0, 0, 0.06);
    background: white;
}

.img-box {
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.article-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.4s ease;
}

.article-card:hover .article-banner {
    transform: scale(1.1);
}

.article-content {
    background-color: white;
    padding: 32px 40px;
    border-radius: 0 1rem 1rem 0;
}

.article-title {
    font-size: 20px;
    color: var(--Very-Dark-Grayish-Blue);
    margin-bottom: 12px;
    line-height: 1.4;
}

.article-text {
    font-size: 13px;
    color: var(--Desaturated-Dark-Blue);
    margin-bottom: 18px;
    line-height: 1.5;
}

.article-content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.author-name {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 13px;
}

.published-date {
    color: var(--Grayish-Blue);
    font-size: 13px;
}

.share {
    position: relative;
}

.share-button {
    background: var(--Light-Grayish-Blue);
    padding: 6px;
    border-radius: 20px;
    font-size: 20px;
    color: var(--Desaturated-Dark-Blue);
    transition: all 0.2s ease;
}

.share-button:hover, .share-button.active {
    color: var(--Light-Grayish-Blue);
    background: var(--Desaturated-Dark-Blue);
}

.share-option {
    --scale: 0;
    --translateX: -50%;
    --translateY: 0;

    background: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    bottom: calc(100% + 28px);
    left: 50%;
    transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 17px 40px;
    border-radius: 1rem;
    box-shadow: 0 5px 20px -5px #0003;
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.2s ease;
}

.share-option.active {
    --scale: 1;
    visibility: visible;
}

.share-option::after {
    content: '';
    background: var(--Very-Dark-Grayish-Blue);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.share-option span {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--Grayish-Blue);
    margin-right: 5px;
}

.share-option ion-icon {
    font-size: 22px;
}

.share-option ion-icon:hover,
.article-title:hover,
.author-name:hover {
    filter: invert(1);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive */

@media screen and (max-width: 768px){
    :root{
        font-size: 12px;
    }

    .article-card {
        grid-template-columns: 1fr;
        max-width: 294px;
        overflow: hidden;
    }

    .img-box, .article-content {
        border-radius: 0;
    }

    .img-box {
        height: 180px;
    }

    .article-content {
        padding: 30px 28px 20px;
    }

    .article-title {
        font-size: 15px;
    }

    .article-text {
        margin-bottom: 3rem;
    }

    .article-content-footer {
        position: relative;
    }

    .author-avatar {
        width: 35px;
        height: 35px;
    }

    .share {
        position: static;
        z-index: 1;
    }

    .share-button {
        font-size: 16px;
    }

    .share-option {
        --scale: 1;
        --translateX: 0;
        --translateY: 100%;

        inset: -20px -28px;
        border-radius: 0;
        padding: 17px 30px;
        z-index: -1;
    }

    .share-option.active {
        --translateY: 0;
    }
}


@media screen and (max-height: 570px){
    .attribution {
        display: none;
    }
}